body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin-top: 7em;
}

#food-search {
  margin-top: 5em;
}

#logoName {
  font-size: 8rem;
  color: #1103ec;
}

#logoName {
  font-family: "Sriracha", sans-serif; 
}